apiVersion: v1
kind: ServiceAccount
metadata:
  name: rabbitmq
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: elasticsearch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kibana
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: logstash
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: gateway
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: elastic-admin-init
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: service-template