apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
spec:
  ports:
    - port: 42920 # default port: 9200
      targetPort: 9200
      name: http
  selector:
    app: elasticsearch
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
spec:
  # Identité réseau stable pour les pods (ex: elasticsearch-0)
  serviceName: elasticsearch
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
      annotations:
        # ======================================================================
        # CONFIGURATION DE L'INJECTION VAULT (Zero Trust)
        # ======================================================================
        # Injection automatique des secrets par l'agent Vault (Sidecar)
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "elastic-role"
        
        # Récupération du mot de passe root 'elastic' généré dynamiquement
        vault.hashicorp.com/agent-inject-secret-config: "secret/data/infra/elastic"
        vault.hashicorp.com/agent-inject-template-config: |
          {{- with secret "secret/data/infra/elastic" -}}
            export ELASTIC_PASSWORD={{ .Data.data.password | toJSON }}
          {{- end -}}
    spec:
      serviceAccountName: elasticsearch
      containers:
        - name: elasticsearch
          image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
          env:
            - name: discovery.type
              value: "single-node"
            - name: xpack.security.enabled
              value: "true"
            - name: ES_JAVA_OPTS
              value: "-Xms512m -Xmx512m" # Optimisation mémoire pour l'environnement dev
          
          # SÉCURITÉ :
          # On source le fichier injecté par Vault avant de lancer le processus Elasticsearch.
          # Cela permet de définir ELASTIC_PASSWORD sans l'exposer dans la spec du Pod.
          command: ["/bin/sh", "-c"]
          args: [". /vault/secrets/config && /usr/local/bin/docker-entrypoint.sh eswrapper"]
          
          ports:
            - containerPort: 9200
          
          # PERSISTANCE : Montage du volume de données
          volumeMounts:
            - name: elastic-data
              mountPath: /usr/share/elasticsearch/data

  # ============================================================================
  # MODÈLE DE VOLUME PERSISTANT (PVC)
  # ============================================================================
  # Garantit que les données survivent au redémarrage du Pod.
  # K3s utilisera le provisionneur 'local-path' pour stocker les fichiers sur l'hôte.
  volumeClaimTemplates:
    - metadata:
        name: elastic-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "local-path" # Standard K3s/Rancher
        resources:
          requests:
            storage: 1Gi