apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  labels:
    app: rabbitmq
spec:
  type: LoadBalancer
  ports:
    - port: 42672 # default port: 5672
      targetPort: 5672
      name: amqp
    - port: 42673 # default port: 15672
      targetPort: 15672
      name: management
  selector:
    app: rabbitmq
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
spec:
  # Identité réseau stable pour le cluster RabbitMQ (ex: rabbitmq-0)
  serviceName: rabbitmq
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
      annotations:
        # ======================================================================
        # CONFIGURATION DE L'INJECTION VAULT (Zero Trust)
        # ======================================================================
        # Injection automatique des secrets par l'agent Vault (Sidecar)
        vault.hashicorp.com/agent-inject: "true"
        vault.hashicorp.com/role: "rabbitmq-role"
        
        # Récupération des identifiants RabbitMQ générés dynamiquement
        vault.hashicorp.com/agent-inject-secret-config: "secret/data/infra/rabbitmq"
        vault.hashicorp.com/agent-inject-template-config: |
          {{- with secret "secret/data/infra/rabbitmq" -}}
            export RABBITMQ_DEFAULT_USER={{ .Data.data.user | toJSON }}
            export RABBITMQ_DEFAULT_PASS={{ .Data.data.password | toJSON }}
          {{- end -}}
    spec:
      serviceAccountName: rabbitmq
      containers:
        - name: rabbitmq
          image: rabbitmq:3.13-management
          
          # SÉCURITÉ :
          # On source le fichier injecté par Vault avant de lancer le processus.
          # Cela définit les variables d'environnement (USER/PASS) uniquement dans la RAM du processus.
          command: ["/bin/sh", "-c"]
          args: [". /vault/secrets/config && docker-entrypoint.sh rabbitmq-server"]
          
          ports:
            - containerPort: 5672
            - containerPort: 15672
          
          # PERSISTANCE : Montage du volume de données
          # /var/lib/rabbitmq est le dossier par défaut où RabbitMQ stocke Mnesia et les queues.
          volumeMounts:
            - name: rabbitmq-data
              mountPath: /var/lib/rabbitmq

  # ============================================================================
  # MODÈLE DE VOLUME PERSISTANT (PVC)
  # ============================================================================
  # Garantit que les messages et la configuration du cluster survivent au redémarrage.
  volumeClaimTemplates:
    - metadata:
        name: rabbitmq-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "local-path" # Standard K3s/Rancher
        resources:
          requests:
            storage: 1Gi